{% extends 'base.html.twig' %}

{% block content_header %}
    <header>
    </header>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Faites vos jeux</h1>

        <div class="alert alert-warning">
            Règles :
            <ul>
                <li>
                    Pour chaque personnage, vous pouvez choisir, si :
                    <ul>
                        <li>il sera vivant à la fin de la saison</li>
                        <li>il sera transformé en marcheur blanc au cours de la saison</li>
                    </ul>
                    Attention, un personnage peut mourir et être relevé en tant que Marcheur Blanc au cours de la saison, il sera alors considéré comme vivant vis à vis du premier choix. Il faut qu'il soit détruit par la suite pour être considéré comme mort. <small>C'est quand même la poisse comme destinée.</small>
                </li>
            </ul>
        </div>

        {{ form_start(form) }}
        <h2>Personnages</h2>
        <div class="row">

            {% for userChar in form.children.pollCharacters %}
                <div class="col-6 col-lg-3 col-sm-4 portfolio-item">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ vich_uploader_asset(userChar.vars.value.charac, 'imageFile') }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ userChar.vars.value.charac.name }}
                            </h4>

                            {{ form_widget(userChar) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Questions subsidiaires</h2>
        {{ form_row(form.throne) }}
        {{ form_row(form.bronnCastle) }}
        {{ form_row(form.aryaKillAll) }}
        {{ form_row(form.wallRebuilt) }}
        {{ form_row(form.whiteWalkerDead) }}
        {{ form_row(form.whiteWalkerWin) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}

    </div>
    <!-- /.container -->
{% endblock %}