{% extends 'base.html.twig' %}

{% block content_header %}
    <header>
    </header>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Faites vos jeux</h1>

        <div class="alert alert-warning">
            Règles :
            <ul>
                <li>
                    Pour chaque personnage, vous pouvez choisir, si :
                    <ul>
                        <li>il sera mort, définitivement, à la fin de la saison</li>
                        <li>il sera transformé en marcheur blanc au cours de la saison</li>
                    </ul>
                    Attention, un personnage peut mourir et être relevé en tant que Marcheur Blanc au cours de la saison, et donc "vivant".<br />
                    Voici les différents cas possible :
                    <ul>
                        <li>Aucune case cochée : Le personnage est vivant à la fin de la saison, et n'a pas été transformé en Marcheur Blanc au cours de la saison (Si transformé avant le début, comme le Roi de la Nuit ou Vyserion, on considère comme valide)</li>
                        <li>Case "Mort" cochée uniquement : Le personnage meurt avant la fin de la saison, <b>mais n'aura pas été relevé jusqu'à la fin</b>.</li>
                        <li>Case "Marcheur Blanc" cochée uniquement : Le personnage aura été transformé en Marcheur pendant la saison, de son vivant ou après avoir fini 6 pieds sous terre, et finira la saison en temps que tel, toujours "vivant".</li>
                        <li>Les deux cases cochées : Le personnage aura été transformé en Marcheur pendant la saison, mais fnira par être tué/détruit/pulvérisé/écrasé/outoutautremortquevouspouvezimaginer avant la fin de la saison. <small>(C'est quand même la poisse comme destinée.)</small></li>
                    </ul>
                </li>
            </ul>
        </div>

        {{ form_start(form) }}
        <h2>Personnages</h2>
        <div class="row">

            {% for userChar in form.children.pollCharacters %}
                <div class="col-6 col-lg-3 col-sm-4 portfolio-item">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ vich_uploader_asset(userChar.vars.value.charac, 'imageFile') }}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ userChar.vars.value.charac.name }}
                            </h4>

                            {{ form_widget(userChar) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Questions subsidiaires</h2>
        {{ form_row(form.throne) }}
        {{ form_row(form.bronnCastle) }}
        {{ form_row(form.aryaKillAll) }}
        {{ form_row(form.wallRebuilt) }}
        {{ form_row(form.whiteWalkerDead) }}
        {{ form_row(form.whiteWalkerWin) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}

    </div>
    <!-- /.container -->
{% endblock %}