{% extends 'base.html.twig' %}

{% block content_header %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-position: top; background-image: url('{{ asset('build/images/emilia_clarke_in_game_of_thrones_final_season_8_2019.jpg') }}')">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="{{ path('poll') }}" class="btn btn-primary">Voter</a>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-position: top; background-image: url('{{ asset('build/images/jon_snow_in_game_of_thrones_final_season_8_2019.jpg') }}')">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="{{ path('poll') }}" class="btn btn-primary">Voter</a>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-position: top; background-image: url('{{ asset('build/images/sansa_stark_in_game_of_thrones_final_season_8_2019.jpg') }}')">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="{{ path('poll') }}" class="btn btn-primary">Voter</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">SOON</h1>

    </div>
    <!-- /.container -->
{% endblock %}