{% extends 'base.html.twig' %}

{% block content %}
    <!-- Page Content -->
    <h1 class="my-4">Pronostiques</h1>

    <div class="alert alert-warning">
        Règles :
        <ul>
            <li>
                Pour chaque personnage, vous pouvez choisir, si :
                <ul>
                    <li>il sera mort, définitivement, à la fin de la saison</li>
                    <li>il sera transformé en marcheur blanc au cours de la saison</li>
                </ul>
                Attention, un personnage peut mourir et être relevé en tant que Marcheur Blanc au cours de la saison, et donc "vivant".<br />
                Voici les différents cas possible :
                <ul>
                    <li>Aucune case cochée : Le personnage est vivant à la fin de la saison, et n'a pas été transformé en Marcheur Blanc au cours de la saison (Si transformé avant le début, comme le Roi de la Nuit ou Vyserion, on considère comme valide)</li>
                    <li>Case "Mort" cochée uniquement : Le personnage meurt avant la fin de la saison, <b>mais n'aura pas été relevé jusqu'à la fin</b>.</li>
                    <li>Case "Marcheur Blanc" cochée uniquement : Le personnage aura été transformé en Marcheur pendant la saison, de son vivant ou après avoir fini 6 pieds sous terre, et finira la saison en temps que tel, toujours "vivant".</li>
                    <li>Les deux cases cochées : Le personnage aura été transformé en Marcheur pendant la saison, mais finira par être tué/détruit/pulvérisé/écrasé/outoutautremortquevouspouvezimaginer avant la fin de la saison. <small>(C'est quand même la poisse comme destinée.)</small></li>
                </ul>
            </li>
            <li>
                Points :
                <ul>
                    <li>
                        Personnages
                        <ul>
                            <li>3 points par réponses totalement exactes ! (Ex : Si vous avez coché les 2 cases et que le personage est transformé en White walker puis mort par la suite. Ou si vous cochez la case "Mort" et qu'il n'a jamais été transformé en White walker)</li>
                            <li>1 points par réponses correctes ! (Ex : Vous avez coché que la case "Mort" mais le personnage n'a jamais été transformé en White walker</li>
                        </ul>
                    </li>
                    <li>
                        Questions subsidaires
                        <ul>
                            <li>3 points par bonnes réponses</li>
                            <li>25 points pour le Trône !</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="table-responsive" id="polls">
        <table class="table table-bordered">
            <thead>
            <th></th>
            {% for user in users %}
                {% if user.poll.id %}
                    <th class="text-center align-middle">
                        {% if user.displayPhoto %}
                            <div style="height: 60px; width: 60px; overflow: hidden; border-radius: 50%; display: inline-block;">
                                <img src="{{ user.displayPhoto }}" width="60px"
                                     title="{{ user.firstName }} {{ user.lastName }}"/><br/>
                            </div>
                        {% else %}
                            {{ user.firstName }} {{ user.lastName }}
                        {% endif %}
                        <br/>
                        {{ user.poll.points }}
                    </th>
                {% endif %}
            {% endfor %}
            </thead>
            <tbody>
            <tr>
                <th class="text-center align-middle">Trône</th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% set imageUri = vich_uploader_asset(user.poll.throne, 'imageFile') %}
                            <a href="{{ imageUri }}" target="_blank" alt="{{ user.poll.throne.name }}"><img
                                        src="{{ web_image(imageUri).zoomCrop(60, 60, 'transparent') }}"
                                        title="{{ user.poll.throne.name }}" style="border-radius: 50%;"/></a>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center align-middle">Bronn aura son château</th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% if user.poll.bronnCastle %}Oui{% else %}Non{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center align-middle">Arya arrive à tuer toute sa liste</th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% if user.poll.aryaKillAll %}Oui{% else %}Non{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center align-middle">Le Mur est reconstruit (ou en cours de reconstruction)</th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% if user.poll.wallRebuilt %}Oui{% else %}Non{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center align-middle">Les Marcheurs Blancs seront définitivement détruit</th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% if user.poll.whiteWalkerDead %}Oui{% else %}Non{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th class="text-center align-middle">Les Marcheurs Blancs auront pris totalement le controle de
                    Westeros
                </th>
                {% for user in users %}
                    {% if user.poll.id %}
                        <td class="text-center align-middle">
                            {% if user.poll.whiteWalkerWin %}Oui{% else %}Non{% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for character in characters %}
                <tr>
                    <th class="text-center align-middle">
                        {% set imageUri = vich_uploader_asset(character, 'imageFile') %}
                        <a href="{{ imageUri }}" target="_blank" title="{{ character.name }}">
                            <i class="{% if character.dead %}dead{% endif %} {% if character.whiteWalker %}whiteWalker{% endif %}">
                                <img src="{{ web_image(imageUri).zoomCrop(100, 100, 'transparent') }}"
                                     alt="{{ character.name }}" style="border-radius: 50%;"/>
                            </i>
                        </a>
                    </th>

                    {% for user in users %}
                        {% if user.poll.id %}
                            <td class="text-center align-middle">
                                {% set found = false %}
                                {% for pollCharac in user.poll.pollCharacters %}
                                    {% if pollCharac.charac.id == character.id %}
                                        {% set found = true %}
                                        {% if pollCharac.dead %}
                                            <img src="{{ asset('build/images/dead.svg') }}" width="30px"
                                                 alt="Mort">&nbsp;
                                        {% endif %}
                                        {% if pollCharac.whiteWalker %}
                                            <img src="{{ asset('build/images/frozen.svg') }}" width="30px"
                                                 alt="Marcheur blanc">
                                        {% endif %}
                                        {% if pollCharac.dead == false and pollCharac.whiteWalker == false %}
                                            <img src="{{ asset('build/images/heart.svg') }}" width="30px"
                                                 alt="Vivant">
                                        {% endif %}
                                        <br/>
                                        {#                                        {{ pollCharac.points }}<br />#}
                                        {#                                        {{ dump(pollCharac.dead) }}<br />#}
                                        {#                                        {{ dump(pollCharac.charac.dead) }}<br />#}
                                        {#                                        {{ dump(pollCharac.whiteWalker) }}<br />#}
                                        {#                                        {{ dump(pollCharac.charac.whiteWalker) }}<br />#}
                                    {% endif %}
                                {% endfor %}
                                {% if found == false %}
                                    --
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.container -->
{% endblock %}